<%- include("partials/header") %>

<div class="fromto">
    <h1>Paying from <br> <%= fromUser.name %> (<%= fromUser.credits %> credits ) to <%= toUser.name %> (<%= toUser.credits %> credits)</h1>
</div>

<div class="form">
    <form action="/view/<%= fromUser._id %>/<%= toUser._id %>?_method=PUT" method="POST">
    <label for="credits">No. of Credits to be paid :</label>
    <br>
    <input type="number" id="credit" name="credit" placeholder="" value="">
    <br>
    <button class="transfer2-btn" type="submit">Transfer</button>
    </form>
</div>


<%- include("partials/footer") %>
