<%- include("partials/header") %>

<div class="history-header">
    <h1>TRANSACTION HISTORY</h1>
</div>

<div class='table'>

    <table  style="color:rgb(0, 0, 0);font-style: oblique;font-size: 20px;background-color: rgb(47, 165, 86);">
        <tr>
            <th>Transferred From</th>
            <th>Transferred To</th>
            <th>No. of Credits</th>
        </tr>

    <% for(let transaction of transactions){ %>
        <tr>
            <td><%= transaction.fromName %></td>
            <td><%= transaction.toName %></td>
            <td><%= transaction.transfer %></td>
        </tr>
<% } %>
    </table>

</div>


<%- include("partials/footer") %>
